<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="7725RajaT.PowerCalculatorforHAWT" Publisher="CN=C3C72738-43D8-4CF2-A217-3AB2FD1D6B6C" Version="1.1.0.0" />
  <Properties>
    <DisplayName>Power Calculator for HAWT</DisplayName>
    <PublisherDisplayName>Raja T</PublisherDisplayName>
    <Logo>Assets\StoreLogo50x50.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Power.App">
      <m2:VisualElements DisplayName="Power Calculator for HAWT" Square150x150Logo="Assets\SquareLogo150x150.png" Square30x30Logo="Assets\SquareLogo30x30.png" Description="Power" ForegroundText="light" BackgroundColor="#464646">
        <m2:DefaultTile Wide310x150Logo="Assets/WideLogo 310x150.png">
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.jpg" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>